@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'test';
    src: local('test'), url(./fonts/test.ttf) format('truetype');
  }

/* * {
    font-family: "test";
} */